## LeetCode 595 — Big Countries
> 날짜: **2025-10-16**  
> 조건: `area >= 3,000,000` **또는** `population >= 25,000,000` 인 나라만 선택하여 `name, population, area` 반환  
> 링크: https://leetcode.com/problems/big-countries/

### 문제 요약
- 입력: `world(name, continent, area, population, gdp)`
- 출력: `name, population, area` 열만 포함한 표(DataFrame)

In [4]:
import pandas as pd

### 풀이 함수

In [5]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    """
    LeetCode 595. Big Countries (Pandas)
    - 조건: area >= 3,000,000 또는 population >= 25,000,000
    - 반환: ['name', 'population', 'area']
    - 정렬 요건 없음(any order)
    """
    mask = (world["area"] >= 3_000_000) | (world["population"] >= 25_000_000)
    return world.loc[mask, ["name", "population", "area"]]

### 예시 데이터로 확인

In [6]:
data = {
    "name": ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola"],
    "continent": ["Asia", "Europe", "Africa", "Europe", "Africa"],
    "area": [652230, 28748, 2381741, 468, 1246700],
    "population": [25500100, 2831741, 37100000, 78115, 20609294],
    "gdp": [20343000000, 12960000000, 188681000000, 3712000000, 100990000000],
}
world = pd.DataFrame(data)
big_countries(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

### 해설
- `world['area'] >= 3_000_000` : 면적이 큰 나라 체크(True/False)
- `world['population'] >= 25_000_000` : 인구가 많은 나라 체크(True/False)
- `|`(또는)로 합쳐서 둘 중 하나라도 True면 선택
- `loc[조건, ['name','population','area']]` 로 필요한 열만 반환